<%- include('includes/head.ejs') %>

        <h1 id="principal">Prueba del laboratorio 17: Interacción con la base de datos.</h1>
        <p>Aldo Tena García - A01275222</p><br><br>
        <p>Bienvenido a la pagina principal.</p>
        <p><strong>/TombRaider</strong> para la pagína de Tomb Raider.</p>
        <p><strong>/Blade&Soul</strong> para la pagína de Blade & Soul.</p>
        <p><strong>/CallofCthulhu</strong> para la pagína de Call of Cthulhu.</p>
        <p><strong>/users</strong> para la pagina del inicio de sesión.</p><br><br>

<%- include('includes/foot.ejs') %>   