<%- include('includes/head.ejs') %>

    <h1 id="principal">Call of Cthulhu</h1>
    <h2>1924. El investigador Pierce estudia la trágica muerte de la familia Hawkins. Sumérgete en un mundo en el que
        acechan la locura y los horrores cósmicos.</h2>
    <br><br>
    <img class="activator" src="https://assets1.ignimgs.com/2018/10/30/callofcthulhu-1280-1540937972866_160w.jpg?width=1280" width="800" height="400">
    <br><br>
    <a href="/">Regresar a la pagina principal</a>

<%- include('includes/foot.ejs') %> 