<%- include('includes/head.ejs') %>

    <h1 id="principal">Call of Cthulhu</h1>
    <h2>1924. El investigador Pierce estudia la trágica muerte de la familia Hawkins. Sumérgete en un mundo en el que
        acechan la locura y los horrores cósmicos.</h2>
    <br><br>
    <a href="/">Regresar a la pagina principal</a>

<%- include('includes/foot.ejs') %> 