<%- include('includes/head.ejs') %>

        <h1 id="principal">Bienvenido a su biblioteca de videojueos.</h1>
        <h2>Introduzca su usuario registrado dentro de la pagina:</h2>
        <form action="/users/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <label for="username">Nombre de usuario: </label>
            <input type="text" id="username" name="username" placeholder="Nombre de usuario">
            <br>
            <label for="username">Nombre de cuenta: </label>
            <input type="text" id="account" name="account" placeholder="Nombre de la cuenta">
            <br>
            <label for="password">Contraseña: </label>
            <input type="password" id="password" name="password">
            <br><br>
            <input type="submit" value="Enviar">
        </form>

<%- include('includes/foot.ejs') %> 