<%- include('includes/head.ejs') %>

    <h1 id="principal">Tomb Raider</h1>
    <h2>Tomb Raider es una aventura de acción aclamada por la crítica que explora los orígenes de Lara Croft y su
        transformación, de joven inexperta a dura superviviente.</h2>
    <br><br>
    <img class="activator" src="https://www.myepicnet.com/wp-content/uploads/2021/01/D8ZH1TkUEAAExtd.jpg" width="800" height="400">
    <br><br>
    <a href="/">Regresar a la pagina principal</a>

<%- include('includes/foot.ejs') %>   